.footer{
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -0.5px;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.social-icon {
    color: #ffffff;
    font-size: 1.8rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.social-icon:hover {
    color: #007bff;
    transform: scale(1.1);
}

.social-icon2 {
    color: #ffffff;
    font-size: 1.8rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.social-icon2:hover {
    color: #6f0ac2;
    transform: scale(1.1);
}